{
        order coraza_waf first
}

(cors) {
        @origin{args[0]} header Origin {args[0]}
        header @origin{args[0]} Access-Control-Allow-Origin "{args[0]}"
        header @origin{args[0]} Vary Origin
}

import endpoints/*
